In [1]:
import json
import pandas as pd
import numpy as np
from pathlib import Path
import re

In [2]:
posts = pd.read_csv('posts_lite.csv')

In [3]:
posts.fillna(value = 0, inplace = True)

In [4]:
posts.parent_id = posts.parent_id.astype(int)

In [5]:
posts = posts.loc[~posts.text.str.contains('QUOTE')]
posts['text'] = posts.text.str.replace('\n','')
posts['text'] = posts.text.str.replace("\\\'","'")

In [7]:
posts = posts.sample(40000)

In [9]:
def get_pairs(posts):
    pairs = pd.DataFrame()
    for i in np.unique(posts['discussion_id'].values):
        disc = posts.loc[posts['discussion_id']==i]
        for i, row in disc.iterrows():
            children = disc.loc[disc['parent_id']==row['id']]
            pairs = pairs.append(pd.DataFrame(zip([row.text]*children.shape[0], children.text.values)), ignore_index=True)
    pairs.columns = ['parent', 'child']
    return pairs

In [10]:
pairs = get_pairs(posts)

In [11]:
input_text = ''.join((pairs.parent+' ||| '+pairs.child+' <endoftext> ').values)

In [12]:
Path("input-text-40000.txt").write_text(input_text)

22025837

In [6]:
posts

,discussion_id,id,parent_id,text
0,4,2049,4,"Yeah, he had a recession, and his tax cuts mov..."
1,4,2050,4,They cut the deficit by 70 thousand million......
2,4,15235,13912,The US is still the closest thing to a pure ...
3,4,4,0,i just thought that it would be cool to revive...
4,4,517,4,capitalism in theory allows people to have equ...
...,...,...,...,...
111563,14532,409477,409473,It's now legal for people to carry their guns ...
111564,14532,409505,409487,Whoops! I was wrong. Instead of ad hominem a...
111565,14532,409483,409477,"Not to come off negatively, NATO, but you are ..."
111566,14532,409487,409483,The refuse to address that such an animal ev...
111567,14532,409489,409487,We have coyotes just outside the yard almost e...

In [70]:
posts.iloc[111568]['text']

IndexError: single positional indexer is out-of-bounds

In [52]:
posts.loc[posts['id']==409505].text.values

array(['  Whoops! I was wrong. Instead of ad hominem attacks, I should have listed ignoring the main idea and focusing on irrellevant minutia.     The fallacy is that you believe you are going to "force them to address the four-legged predators."  You won\'t have to force them. They\'ll happily banter back and forth endlessly on this point. Why?  Because it has nothing to do with the tiny little secret they\'re hiding from everyone (including themselves). The main focus of the article is the progressive illusion of concern for the individual while working to tighten the chains binding them to THE ALMIGHTY STATE. Any distraction from it will be warmly accepted, as it allows them to keep the padlock on the closet door.   When faced with an opponent who wishes to avoid discussing a concept because of the scary skeletons that may fall out of the closet, digression is a welcome distraction, not "forced".  Please stop dancing in the kitchen and arguing about what\'s in the refrigerator, as the closet is where we should keep pointing.'],
      dtype=object)

In [65]:
posts.loc[~posts.text.str.contains('QUOTE')]

,discussion_id,id,parent_id,text
0,4,2049,4,"Yeah, he had a recession, and his tax cuts mov..."
1,4,2050,4,They cut the deficit by 70 thousand million......
2,4,15235,13912,The US is still the closest thing to a pure ...
3,4,4,0,i just thought that it would be cool to revive...
4,4,517,4,capitalism in theory allows people to have equ...
...,...,...,...,...
111563,14532,409477,409473,It's now legal for people to carry their guns ...
111564,14532,409505,409487,Whoops! I was wrong. Instead of ad hominem a...
111565,14532,409483,409477,"Not to come off negatively, NATO, but you are ..."
111566,14532,409487,409483,The refuse to address that such an animal ev...
111567,14532,409489,409487,We have coyotes just outside the yard almost e...

In [62]:
posts

,discussion_id,id,parent_id,text
0,4,2049,4,"Yeah, he had a recession, and his tax cuts mov..."
1,4,2050,4,They cut the deficit by 70 thousand million......
2,4,15235,13912,The US is still the closest thing to a pure ...
3,4,4,0,i just thought that it would be cool to revive...
4,4,517,4,capitalism in theory allows people to have equ...
...,...,...,...,...
111564,14532,409505,409487,Whoops! I was wrong. Instead of ad hominem a...
111565,14532,409483,409477,"Not to come off negatively, NATO, but you are ..."
111566,14532,409487,409483,The refuse to address that such an animal ev...
111567,14532,409489,409487,We have coyotes just outside the yard almost e...
111568,14532,409531,409505,[QUOTE=Superlite27;409505]Whoops! I was wrong....